<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="assets/chat.css"
          rel="stylesheet">
</head>
<body>
<section class="msger">
    <header class="msger-header">
        <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> Random Chat
        </div>
        <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
        </div>
    </header>

    <main class="msger-chat">

    </main>

    <form class="msger-inputarea">
        <input class="msger-input"
               placeholder="Enter your message..."
               type="text">
        <button class="msger-send-btn"
                type="submit">Send
        </button>
    </form>
</section>
<script src="assets/rws.js"></script>
<script src="assets/chat.js"></script>
</body>
</html>